*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#hero {
    background-image: url("../images/graffiti.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

#hero h1{
    font-size: 15vw;
    text-align: center;
    color: blue;
    
    
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 9/16){
    .back-video{
        width: auto;
        height: 100%;
    }
}